arex:
  storage:
    cache:
      uri: ${arex.redis.uri:redis://redis:6379/}
    enableDiscoveryEntryPoint: true
    mongodbUri: ${arex.mongo.uri:mongodb://arex:iLoveArex@mongodb:27017/arex_storage_db}
    recordEnv: TEST
    expirationDurationMap:
      ConfigFile: 3456000000
    defaultExpirationDuration: 345600000
    allowReRunDays: 1
    supportMockerTag:
      - env
  api:
    config:
      agent:
        url: ${arex.api.service.api:http://arex-api-service:8080}
#    categoryTypes:
#      - name: Hi
#        entryPoint: true
#        skipComparison: true